<main>
    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped">
        <div class="container align-items-center py-sm">
          <h2>
            <span>Edição de Produtos</span>
          </h2>
          <div>
            <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="row" *ngIf="1!=1">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="uid">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="nome" [ngClass]="{ 'is-invalid' : enviado && f.nome.invalid }">
                    <div *ngIf="enviado && f.preco.invalid" class="invalid-feedback">
                        Informe o nome
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="number" class="form-control" id="inputPreco" placeholder="Preço" formControlName="preco" [ngClass]="{ 'is-invalid' : enviado && f.preco.invalid }">
                    <div *ngIf="enviado && f.preco.invalid" class="invalid-feedback">
                        Informe o preço
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <textarea class="form-control" id="inputDescricao" rows="2" placeholder="Descrição" formControlName="descricao"></textarea>
                  </div>
                </div>
                <div class="col-md-2 mb-1">
                  <button type="button" class="btn btn-primary btn-block btn-height" (click)="salvarProdutos()">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
  